#header { background-color: #0A0F15; }

#header > .row {
  height: inherit !important;
  border-bottom: 0.25rem solid #ccc !important;
}

@media screen and (max-width: 480px) {
  h1, .h1 { font-size: 1.5rem; }
  #header > .row { height: 4.5rem; }
}

@media screen and (max-width: 360px) {
  h1, .h1 { font-size: 1.2rem; }
}
